	<footer class="bg-dark text-white">
		<div class="container">
			<div class="row py-5">
				<div class="col-md-3 py-3 col-6">
					<label class="font-weight-bold">Hubungi Kami</label>

					<ul class="list-unstyled small">
						<li class="my-2">Telp: 0274-2885822</li>
						<li class="my-2">Whatsapp: 0895395186038</li>
						<li class="my-2">Senin - Minggu</li>
						<li class="my-2">24 Jam Non Stop</li>
					</ul>

					<ul class="list-unstyled small">
						<li class="my-2">Jl. Palagan Tentara Pelajar</li>
						<li class="my-2">No. 81 Jongkang, Sariharjo,</li>
						<li class="my-2">Ngaglik, Sleman</li>
						<li class="my-2">Daerah Istimewa Yogyakarta</li>
						<li class="my-2">55581</li>
					</ul>
				</div>
				<div class="col-md-3 py-3 col-6">
					<label class="font-weight-bold">Hubungi Kami</label>

					<ul class="list-unstyled small">
						<li class="my-2">Domain</li>
						<li class="my-2">Shared Hosting</li>
						<li class="my-2">Cloud Hosting</li>
						<li class="my-2">Cloud VPS Hosting</li>
						<li class="my-2">Transfer Hosting</li>
						<li class="my-2">Web Builder</li>
						<li class="my-2">Keamanan SSL/HTTPS</li>
						<li class="my-2">Jasa Pembuatan Website</li>
						<li class="my-2">Program Afiliasi</li>
						<li class="my-2">Whois</li>
						<li class="my-2">Niagahoster Status</li>
					</ul>
				</div>
				<div class="col-md-3 py-3 col-6">
					<label class="font-weight-bold">Hubungi Kami</label>

					<ul class="list-unstyled small">
						<li class="my-2">Hosting Murah</li>
						<li class="my-2">Hosting Indonesia</li>
						<li class="my-2">Hosting Singapore SG</li>
						<li class="my-2">Hosting Wordpress</li>
						<li class="my-2">Email Hosting</li>
						<li class="my-2">Reseller Hosting</li>
						<li class="my-2">Web Hosting Unlimited</li>
					</ul>
				</div>
				<div class="col-md-3 py-3 col-6">
					<label class="font-weight-bold">Hubungi Kami</label>

					<ul class="list-unstyled small">
						<li class="my-2">Hosting Terbaik</li>
						<li class="my-2">Datacenter Hosting Terbaik</li>
						<li class="my-2">Domain Gratis</li>
						<li class="my-2">Bagi-bagi Domain Gratis</li>
						<li class="my-2">Bagi-bagi Hosting Gratis</li>
						<li class="my-2">Review Pelanggan</li>
					</div>
					<div class="col-md-3 py-3 col-6">
						<label class="font-weight-bold">Tutorial</label>

						<ul class="list-unstyled small">
							<li class="my-2">Ebook Gratis</li>
							<li class="my-2">Knowledgebase</li>
							<li class="my-2">Blog</li>
							<li class="my-2">Cara Pembayaran</li>
							<li class="my-2">Niaga Course</li>
						</ul>
					</div>
					<div class="col-md-3 py-3 col-6">
						<label class="font-weight-bold">Tentang Kami</label>

						<ul class="list-unstyled small">
							<li class="my-2">Tentang</li>
							<li class="my-2">Penawaran & Promo Spesial</li>
							<li class="my-2">Niagahoster Poin</li>
							<li class="my-2">Karir</li>
							<li class="my-2">Kontak Kami</li>
							<li class="my-2">Event</li>
							<li class="my-2">Niagahoster Poin</li>
							<li class="my-2">Niagahoster Poin</li>
						</ul>
					</div>
					<div class="col-md-3 py-3 col-12">
						<label class="font-weight-bold">Newsletter</label>
						<div class="input-group rounded-pill mb-3">
							<input type="text" class="form-control " placeholder="email" aria-label="email">
							<div class="input-group-append">
								<button class="btn btn-primary" type="button" id="button-addon2">Berlangganan</button>
							</div>
							<label class="small my-2">dapatkan promo menarik dari penyedia hosting anda</label>
						</div>
					</div>
					<div class="col-md-2 py-3 col-6">
						<label class="font-weight-bold"></label>
						<div class="d-flex justify-content-between">
							<a href="#" class="btn btn-dark rounded-circle border-white"><i class="fab fa-facebook-f mx-auto"></i></a>
							<a href="#" class="btn btn-dark rounded-circle border-white"><i class="fab fa-twitter m-auto"></i></a>
							<a href="#" class="btn btn-dark rounded-circle border-white"><i class="fab fa-google m-auto"></i></a>
						</div>
					</div>
				</div>


				<div>
					<b>PEMBAYARAN</b> 
					<br>
					<img src="./templates/images/pembayaran.png" class="img-fluid">
					<label class="small">Aktifasi instant dengan Payment Hosting dan domain aktif!</label>
				</div>



				<div class="cr border-top">
					<div class="row py-4">
						<div class="col-md-8 small">
							Copyright ©2021 Niagahoster | Hosting powered by PHP8, CloudLinux, CloudFlare, BitNinja and DC DCI-Indonesia. Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology
						</div>
						<div class="col-md-4 text-center small">
							<a href="#" class="text-secondary">Sayarat dan Ketentuan</a> | <a href="#" class="text-secondary">kebijakan privasi</a>
						</div>
					</div>
				</div>
			</div>
		</footer>