*{
    font-family: 'Montserrat', sans-serif;
}
body{
    font-size: 14px;
}
nav{
    font-size: 18px;
}
.section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.table{
    font-family: 'Roboto';
}

.card {
    z-index: 1;
}

.nav-link{
    font-weight: 500;
}

/* common */
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 10px solid #13752a;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 255px;
    padding: 15px 0;
    background-color: #34b451;
    /*box-shadow: 0 5px 10px rgba(0,0,0,.1);*/
    color: #fff;
    font: 700 14px/1 'Montserrat', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
}
.ribbon-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0;
    right: 20px;
}
.ribbon-top-left::after {
    z-index: -2;
    bottom: 20px;
    left: -10px;
}
.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

.bg-primary{
    background-color: #298eea !important;
}

.bg-primary-100{
    background-color: #1d70bc !important;
}

.btn-primary{
    background-color: #298eea !important;
}

.border-primary{
    border-color:#298eea !important;
}
.border-light{
    border: 0.2px solid #f2f2f2;
}
.text-extra-small{
    font-size: 10px;
    margin: auto;
}