<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Diskon 75% | Hosting Indonesia dengan unlimited bandwidth, HTTP/3 & LiteSpeed untuk kecepatan website. Pilih hosting sekarang, gratis domain & SSL" />
	<meta name="keywords" content="hosting indonesia, web hosting, web hosting indonesia, web hosting indonesia terbaik, hosting indonesia, hosting indonesia berkualitas, web hosting berkualitas, hosting web indonesia" />
	<meta property="bb:client_area" content="https://www.niagahoster.co.id/">
	<meta name="robots" content="index, follow, noodp">
	<link rel="canonical" href="https://www.niagahoster.co.id/hosting-indonesia" />
	<link rel="stylesheet" href="https://www.niagahoster.co.id/templates/css/hosting-indonesia.css?v=1.0.1">
	<link rel="preload" href="https://www.niagahoster.co.id/templates/css/hosting-indonesia.css?v=1.0.1" as="style">
	<meta name="dcterms.subject" content="hosting, hosting indonesia, web hosting, web hosting indonesia, hosting web" />
	<meta name="dcterms.type" content="Service" />
	<meta name="dcterms.language" content="id" />
	<meta property="fb:app_id" content="212913279095490" />
	<meta property="og:url" content="https://www.niagahoster.co.id/hosting-indonesia" />
	<meta property="og:title" content="Web Hosting Indonesia, Harga Terbaik! - Niagahoster" />
	<meta property="og:image" content="https://niagaspace.sgp1.cdn.digitaloceanspaces.com/bb-uploads/tinymce/media/logo-niagahoster-1615379570.png" />
	<meta property="og:site_name" content="Niagahoster" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="DISKON up to 75% | Web Hosting Indonesia terbaik dengan unlimited bandwidth & LiteSpeed untuk kecepatan website. Dapatkan Sekarang!" />
	<meta name="twitter:description" content="DISKON up to 75% | Web Hosting Indonesia terbaik dengan unlimited bandwidth & LiteSpeed untuk kecepatan website. Dapatkan Sekarang!" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@Niagahoster" />
	<meta name="twitter:title" content="Web Hosting Indonesia, Harga Terbaik! - Niagahoster" />
	<meta name="twitter:image" content="https://niagaspace.sgp1.cdn.digitaloceanspaces.com/bb-uploads/tinymce/media/logo-niagahoster-1615379570.png" />

	<!-- css -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="./templates/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	<link rel="stylesheet" href="https://kyco.github.io/jquery.kyco.easyshare/jquery.kyco.easyshare.css"/>
	<!-- css -->
</head>
<body>

	{% include 'top_nav.html' %}

	{% include 'nav.html' %}

	<div class="container">

		<!-- hero section -->

		<section>
			<div class="row my-5">
				<div class="col-md-6 m-auto">
					<h2 class="font-weight-bold">PHP Hosting</h2>
					<label style="font-size: 25px;" class="my-2">Cepat, Handal, Penuh Dengan modul PHP yang dibutuhkan</label>


					<ul class="list-unstyled my-2">
						<li><i class="fas fa-check-circle mr-2 text-success my-2"></i>Solusi PHP untuk performa query yang cepat</li>
						<li><i class="fas fa-check-circle mr-2 text-success my-2"></i>Konsumsi memori yang lebih rendah</li>
						<li><i class="fas fa-check-circle mr-2 text-success my-2"></i>Suport PHP 5.3, PHP 5.4 , PHP 5.6 , PHP 7</li>
						<li><i class="fas fa-check-circle mr-2 text-success my-2"></i>Solusi PHP untuk performa query yang cepat</li>
					</ul>
				</div>
				<div class="col-md-6">
					<img src="./templates/svg/banner_hero.svg"/>
				</div>
			</div>
		</section>


		<!-- badge section -->

		<section class="section">
			<div class="row ng-dark mx-5 my-2 text-center">
				<div class="col-md-4">
					<img src="./templates/svg/tag_zenguard.svg"  class="img-fluid my-2" style="min-height:150px;width: 70%;"/>
					<div>
						<label>PHP Zend Guard Loader</label>
					</div>
				</div>
				<div class="col-md-4">
					<img src="./templates/svg/tag_composer.svg"  class="img-fluid my-2 w-50" style="height:150px;width: 70%;" />
					<div><label>PHP Composer</label></div>
				</div>
				<div class="col-md-4">
					<img src="./templates/svg/tag_ioncube.svg" class="img-fluid my-2" style="height:150px;width: 70%;" />
					<div>
						<label>PHP ionCube Loader</label>
					</div>
				</div>
			</div>
		</section>


		<!-- title tagline -->

		<section class="text-center my-5">
			<label style="font-size: 30px;" class="font-weight-bold" >Paket Hosting Singapura yang Tepat</label>
			<label style="font-size: 28px;" >Diskon 40% + Domain dan SSL Gratis untuk Anda</label>
			<h3></h3>
		</section>

		{% block content %}
		{% endblock %}

		<section class="my-5">
			<div class="row text-center">
				<div class="col-md-12 my-3">
					<label style="font-size: 28px;">Powerfull dengan Limit PHP yang lebih Besar</label>
				</div>
				<div class="col-md-12">
					<div class="row mx-5 my-2">
						<div class="col-md-6">
							<table class="table border table-sm">
								<tr>
									<td width="10%"><i class="fas fa-check-circle mr-2 text-success"></i></td>
									<td>Max execute time 300s</td>
								</tr>
								<tr class="bg-light">
									<td width="10%"><i class="fas fa-check-circle mr-2 text-success"></i></td>
									<td>Max execute time 300s</td>
								</tr>
								<tr>
									<td width="10%"><i class="fas fa-check-circle mr-2 text-success"></i></td>
									<td>php memory limit 1024 MB</td>
								</tr>
							</table>
						</div>
						<div class="col-md-6">
							<table class="table border table-sm">
								<tr>
									<td width="10%"><i class="fas fa-check-circle mr-2 text-success"></i></td>
									<td>post max size 128 MB</td>
								</tr>
								<tr class="bg-light">
									<td width="10%"><i class="fas fa-check-circle mr-2 text-success"></i></td>
									<td>upload max filesize 128 MB</td>
								</tr>
								<tr>
									<td width="10%"><i class="fas fa-check-circle mr-2 text-success"></i></td>
									<td>max input vars 2500</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>



		<section class="section">
			<hr style="border: 3px solid #f2f2f2;width: 100px; border-radius: 5px;" />
		</section>


		<section class="text-center section">
			<label style="font-size: 28px;">Semua Paket Hosting Sudah Termasuk</label>
			

			<div class="row">
				<div class="col-md-4 mb-3">
					<img class="img-fluid my-4" style="width: 15%" src="./templates/svg/packet_version.svg">
					<div>
						<b>PHP SEMUA VERSI</b>
						<label>pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</label>
					</div>
				</div>

				<div class="col-md-4">
					<img class="img-fluid my-4" style="width: 15%" src="./templates/svg/packet_sql.svg">
					<div>
						<b>PHP SEMUA VERSI</b>
						<label>pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</label>
					</div>
				</div>

				<div class="col-md-4">
					<img class="img-fluid my-4" style="width: 15%" src="./templates/svg/packet_cpanel.svg">
					<div>
						<b>PHP SEMUA VERSI</b>
						<label>pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</label>
					</div>
				</div>

				<div class="col-md-4">
					<img class="img-fluid my-4" style="width: 15%" src="./templates/svg/packet_uptime.svg">
					<div>
						<b>PHP SEMUA VERSI</b>
						<label>pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</label>
					</div>
				</div>

				<div class="col-md-4">
					<img class="img-fluid my-4" style="width: 15%" src="./templates/svg/packet_inodb.svg">
					<div>
						<b>PHP SEMUA VERSI</b>
						<label>pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</label>
					</div>
				</div>

				<div class="col-md-4">
					<img class="img-fluid my-4" style="width: 15%" src="./templates/svg/packet_hosting.svg">
					<div>
						<b>PHP SEMUA VERSI</b>
						<label>pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</label>
					</div>
				</div>
			</div>
		</section>

		<section class="section">
			<hr style="border: 3px solid #f2f2f2;width: 100px; border-radius: 5px;" />
		</section>

	</div>
	
	<section class="text-center border-bottom border-light section">
		<label style="font-size: 28px;" class="my-4">Mendukung Penuh Framework Laravel</label>

		<div class="container">
			<div class="row ">
				<div class="col-md-6 text-left m-auto">
					<div style="font-size: 18px;" class="py-3">Tak perlu menggunakan dedicated server ataupun vps yang mahal Layanan php hosting murah kami mendukung penuh framework php anda </div>


					<ul class="list-unstyled my-2">
						<li class="my-1"><i class="fas fa-check-circle mr-2 text-success my-2"></i>install Laravel <b>1 klik</b> dengan Soufculus installer</li>
						<li class="my-1"><i class="fas fa-check-circle mr-2 text-success my-2"></i>Mendukung ekstensi PHP <b>MCrypt,phar,mbstring,json,</b> dan <b>fileinfo.</b></li>
						<li class="my-1"><i class="fas fa-check-circle mr-2 text-success my-2"></i>Tersedia <b>Composer</b> dan <b>SSH</b> untuk menginstall packages pilihan Anda.</li>
					</ul>

					<small class="m-auto">Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</small>


					<a href="#" class="btn btn-primary text-white font-weight-bold my-4 rounded-pill px-4">Pilih Hosting Anda</a>
				</div>
				<div class="col-md-6">
					<img src="./templates/svg/hero_laravel.svg">
				</div>
			</div>
		</div>
	</section>
	
	<div class="container">

		<section class="text-center section">
			<label style="font-size: 28px;" class="my-5">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.</label>

			<div class="row mx-4">
				<div class="col-md-3 col-6">
					<ul class="list-unstyled text-left">
						<li>icePhp</li>
						<li>apc</li>
						<li>apcu</li>
						<li>apm</li>
						<li>ares</li>
						<li>bcmath</li>
						<li>bccompiler</li>
						<li>big_int</li>
						<li>bitset</li>
						<li>bloomy</li>
						<li>bz2_filter</li>
						<li>clamav</li>
						<li>coin_accepto</li>
						<li>crack</li>
						<li>dba</li>
					</ul>
				</div>
				<div class="col-md-3 col-6">
					<ul class="list-unstyled text-left">
						<li>icePhp</li>
						<li>apc</li>
						<li>apcu</li>
						<li>apm</li>
						<li>ares</li>
						<li>bcmath</li>
						<li>bccompiler</li>
						<li>big_int</li>
						<li>bitset</li>
						<li>bloomy</li>
						<li>bz2_filter</li>
						<li>clamav</li>
						<li>coin_accepto</li>
						<li>crack</li>
						<li>dba</li>
					</ul>
				</div>
				<div class="col-md-3 col-6">
					<ul class="list-unstyled text-left">
						<li>icePhp</li>
						<li>apc</li>
						<li>apcu</li>
						<li>apm</li>
						<li>ares</li>
						<li>bcmath</li>
						<li>bccompiler</li>
						<li>big_int</li>
						<li>bitset</li>
						<li>bloomy</li>
						<li>bz2_filter</li>
						<li>clamav</li>
						<li>coin_accepto</li>
						<li>crack</li>
						<li>dba</li>
					</ul>
				</div>
				<div class="col-md-3 col-6">
					<ul class="list-unstyled text-left">
						<li>icePhp</li>
						<li>apc</li>
						<li>apcu</li>
						<li>apm</li>
						<li>ares</li>
						<li>bcmath</li>
						<li>bccompiler</li>
						<li>big_int</li>
						<li>bitset</li>
						<li>bloomy</li>
						<li>bz2_filter</li>
						<li>clamav</li>
						<li>coin_accepto</li>
						<li>crack</li>
						<li>dba</li>
					</ul>
				</div>
			</div>


			<a href="#" class="btn btn-white border-dark text-dark font-weight-bold rounded-pill px-4 mt-4">Selengkapnya</a>
		</section>



		<section>
			<div class="row">
				<div class="col-md-6">
					<label style="font-size: 28px;" class="mr-3 mb-4">Linux Hosting Yang Stabil dengan Teknoligi LVE</label>

					<P>SuperMicro <b>intel Xeon 24-Cores</b> Server dengan RAM <b>128 GB</b> dari teknoligi <b>LVE CloudLinux</b> untuk stabilitas server Anda. Dilengkapi dengan SSD untuk kecepatan MySQL dan chacing, Apache load Balancer berbasis LiteSpeed Technologies, <b>CageFS</b> security. <b>Raid-10</b> protection dan auto backup untuk keamanan website PHP Anda. </P>


					<a href="#" class="btn btn-primary text-white font-weight-bold my-4 rounded-pill px-4">Pilih Hosting Anda</a>


				</div>
				<div class="col-md-6 m-100">
					<img src="./templates/images/image_support.png" class="img-fluid" style="bottom: 0px;">
				</div>
			</div>
		</section>
	</div>
	<section class="bg-light">
		<div class="container">
			<div class="row py-4">
				<div class="col-md-6">
					<b>Bagikan Jika Anda menyukai halaman ini</b>
				</div>
				<div class="col-md-6 d-flex text-center">
					<div class="m-auto d-flex">
						<div class="advanced mr-2" data-easyshare data-easyshare-url="https://www.niagahoster.co.id">
							<!-- Facebook -->
							<button data-easyshare-button="facebook">
								<span class="fab fa-facebook-f"></span>
							</button>
							<span data-easyshare-button-count="facebook">80k</span>
							<div data-easyshare-loader></div>
						</div>

						<div class="advanced mr-2" data-easyshare data-easyshare-url="https://www.kycosoftware.com/">
							<!-- Twitter -->
							<button data-easyshare-button="twitter" data-easyshare-tweet-text="">
								<span class="fab fa-twitter"></span>
							</button>
							<span data-easyshare-button-count="facebook">450</span>
						</div>

						<div class="advanced mr-2" data-easyshare data-easyshare-url="https://www.kycosoftware.com/">
							<!-- Google+ -->
							<button data-easyshare-button="" class="bg-danger">
								<span class="fab fa-google-plus-g"></span>
							</button>
							<span data-easyshare-button-count="google">1900</span>
							<div data-easyshare-loader></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-primary text-white">
		<div class="container">
			<div class="row py-5">
				<div class="col-md-9">
					<label style="font-size: 28px;">Perlu <b>BANTUAN?</b> Hubungi Kami : <b>0274-5305505</b></label>
				</div>
				<div class="col-md-3">
					<a href="#" class="btn btn-primary border-white text-white rounded-pill px-4"><i class="fas fa-comments mr-2"></i>Live Chat</a>
				</div>
			</div>
		</div>
	</section>

	{% include 'footer.html' %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://kyco.github.io/jquery.kyco.easyshare/jquery.kyco.easyshare.js"></script>
</body>
</html>