	<div class="container d-none d-lg-block">
		<div class="row my-2">
			<div class="col-md-8 text-secondary text-extra-small">
				<i class="fas fa-tag mr-2 text-primary-100 mr-2"></i>Gratis Ebook 9 Cara cerdas Menggunakan Domain [x]
			</div>
			<div class="col-md-4 small text-secondary d-flex justify-content-around my-1">
				<div>
					<i class="fas fa-phone-alt mr-2 m-auto"></i> 0274-5305505
				</div>

				<div>
					<i class="fas fa-comments mr-2 m-auto"></i> Live Chat
				</div>

				<div>
					<i class="fas fa-user-circle mr-2 m-auto"></i> Member Area
				</div>
			</div>
		</div>
	</div>